body {
    margin: 0;
    padding: 0;
    color: #9F9F9F;
    font-family: 'Roboto Mono', monospace;
}

.topBar {
    display: flex;
    justify-content: space-between;
    margin: 2% 5%;
}

.topList {
    list-style-type: none;
    width: 80%;
    font-size: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.topList, a {
    text-decoration: none;
    color: #9F9F9F;
    padding: 0 5px;
    gap: 20px;
}

.topList a:hover {
    color: #6b6a6a;
}

.signButton {
    display: block;
    border: 4px solid #979797;
    color: #7a7a7a;
    border-radius: 17px;
    padding: 3px 18px;
    text-transform: uppercase;
}

.signButton:hover {
    background-color: #777777;
    color: #fff;
    border-color: #777;
    transition: all 0.5s;
}

.mainSection {
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.text {
    font-size: 2em;
    margin: 0 0 0 10%;
}

h1 {
    font-size: 4em;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 0.5em;
}

.girlImg {
    width: 600px;
    margin-right: 8%;
}


@media only screen and (max-width: 925px){
    .topList {
        width: 100%;
    }

    .text {
        font-size: 1.5em;
        width: 420px;
    }

    .girlImg {
        width: 450px;
        margin: 0;
    }

    .mainSection {
        flex-direction: column-reverse;
    }
}


@media only screen and (max-width: 575px) {
    .topList {
        font-size: 14px;
        width: 100%;
        gap: 5px;
    }

    h1 {
        font-size: 60px;
        margin-top: 50px;
    }
}